metadata_format_version: 2.0

galaxy_info:
  author: Your name
  description: A description of the APB
  company: Your company

  # Override the Galaxy role name
  # role_name: {{ role_name }}

  # If the issue tracker for your role is not on github, uncomment the
  # next line and provide a value
  # issue_tracker_url: 'http://example.com/issue/tracker'

  # Provide a valid short identifier from the SPDX license list https://spdx.org/licenses/
  # Examples include:
  # - BSD-2-Clause-FreeBSD
  # - MIT
  # - GPL-2.0-only
  # - GPL-3.0-or-later
  # - Apache-2.0
  # - CC-BY-4.0
  license: Apache-2.0

  min_ansible_version: 2.4

  # If this a Container Enabled role, provide the minimum Ansible Container version.
  # min_ansible_container_version:

  # Provide a list of supported platforms, and for each platform a list of versions.
  # If you don't wish to enumerate all versions for a particular platform, use 'all'.
  # To view available platforms and versions (or releases), visit:
  # https://galaxy.ansible.com/api/v1/platforms/
  #
  # Examples include:
  #
  # platforms:
  # - name: Fedora
  #   versions:
  #   - all
  # - name: Ubuntu
  #   versions:
  #   - artful
  #   - bionic
  #   - cuttlefish
  platforms:

  # Provide an optional list of supported cloud platforms. For a list of valid
  # cloud platforms, visit: https://galaxy.ansible.com/api/v1/cloud_platforms/
  #
  # cloud_platforms:
  #  - amazon
  #  - azure
  #  - gce

  # List tags for your role here, one per line. A tag is a keyword that describes
  # and categorizes the role. Users find roles by searching for tags.
  #
  # NOTE: A tag is limited to a single word comprised of alphanumeric characters.
  #       Maximum 20 tags per role.
  galaxy_tags:
    - apb
  
# List your role dependencies here, one per line. Be sure to remove the '[]',
# if you add dependencies to this list.
dependencies: []

